<table>
    
  <tr>
    <th>ID</th>
    <th>Artist Name</th>
  </tr>
  
  <%@artists.each do |artist|%>
    <tr>
      <td><%=artist.id%></td>
      <td><a href='/artists/<%=artist.slug%>'><%=artist.name%></a></td>
    </tr>
  <% end %>
</table>
